version: '2'

services:
    web:
        build:
            context: ./images/munkireport
            args:
                - MUNKIREPORT_VERSION=${MUNKIREPORT_VERSION}
        image: ianharrier/munkireport:${MUNKIREPORT_VERSION}
        restart: unless-stopped
        depends_on:
            - db
        ports:
            - ${WEB_PORT}:80
        environment:
            - TIMEZONE=${TIMEZONE}
            - MYSQL_DATABASE=${DB_MYSQL_DATABASE}
            - MYSQL_USER=${DB_MYSQL_USER}
            - MYSQL_PASSWORD=${DB_MYSQL_PASSWORD}
        volumes:
            - ./volumes/web/config.php:/srv/www/app/config.php:z
    db:
        image: mysql:5.7
        restart: unless-stopped
        environment:
            - MYSQL_ROOT_PASSWORD=${DB_MYSQL_ROOT_PASSWORD}
            - MYSQL_DATABASE=${DB_MYSQL_DATABASE}
            - MYSQL_USER=${DB_MYSQL_USER}
            - MYSQL_PASSWORD=${DB_MYSQL_PASSWORD}
        volumes:
            - ./volumes/db/data:/var/lib/mysql:z
    cron:
        build:
            context: ./images/cron
        image: ianharrier/munkireport-cron:1.1.0
        restart: unless-stopped
        environment:
            - BACKUP_OPERATION=${BACKUP_OPERATION}
            - BACKUP_CRON_EXP=${BACKUP_CRON_EXP}
            - BACKUP_RETENTION=${BACKUP_RETENTION}
            - HOST_PATH=${PWD}
            - TIMEZONE=${TIMEZONE}
            - MYSQL_DATABASE=${DB_MYSQL_DATABASE}
            - MYSQL_USER=${DB_MYSQL_USER}
            - MYSQL_PASSWORD=${DB_MYSQL_PASSWORD}
        volumes:
            - ./:${PWD}:z
