version: '2'

services:
    web:
        build:
            context: ./images/munkireport
            args:
                - MUNKIREPORT_VERSION=${MUNKIREPORT_VERSION}
        image: ianharrier/munkireport:${MUNKIREPORT_VERSION}
        restart: unless-stopped
        depends_on:
            - db
        ports:
            - ${WEB_PORT}:80
        environment:
            - TIMEZONE=${TIMEZONE}
            - MYSQL_DATABASE=${DB_MYSQL_DATABASE}
            - MYSQL_USER=${DB_MYSQL_USER}
            - MYSQL_PASSWORD=${DB_MYSQL_PASSWORD}
        volumes:
            - ./volumes/web/config.php:/srv/www/app/config.php:Z
    db:
        image: mysql
        restart: unless-stopped
        environment:
            - MYSQL_ROOT_PASSWORD=${DB_MYSQL_ROOT_PASSWORD}
            - MYSQL_DATABASE=${DB_MYSQL_DATABASE}
            - MYSQL_USER=${DB_MYSQL_USER}
            - MYSQL_PASSWORD=${DB_MYSQL_PASSWORD}
        volumes:
            - ./volumes/db/data:/var/lib/mysql:Z
    backup:
        build:
            context: ./images/backup
            args:
                - GLIBC_VERSION=2.27-r0
                - COMPOSE_VERSION=1.18.0
        image: ianharrier/munkireport-backup:1.0.10
        restart: unless-stopped
        environment:
            - OPERATION=${BACKUP_OPERATION}
            - CRON_EXP=${BACKUP_CRON_EXP}
            - RETENTION=${BACKUP_RETENTION}
            - HOST_PATH=${PWD}
            - COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
            - TIMEZONE=${TIMEZONE}
        volumes:
            - ./:${PWD}
            - /var/run/docker.sock:/var/run/docker.sock
        security_opt:
            - label:disable
